*{
  padding : 0;
  margin : 0;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  position:relative;
  font-family: sans-serif;
  height: 80px;
  width:350px;
  padding-top:10px;
  background-color: rgb(195, 255, 255);
}

.hs{
  
  padding-bottom: 40px;
  background-color:rgb(195, 255, 255);
}

.down{
  border-radius: 20px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.down h1{
  font-size: 20px;
}

.search{
  width: 200px;
  align-items: center;
  display: flex;
  background-color: whitesmoke;
  border-radius: 5px;
}

.search input{
  padding: 5px;
  border-radius: 10px;
  height:20px;
  background-color: whitesmoke;
  border: none;
  outline: none;
}

.search ic{
  left:0px;
  top:0;
}

.msg{
  margin-top: 14px;
  height: 400px;
  background-color: white;
  overflow-y: scroll;

}

.msg::-webkit-scrollbar{
  display: none;
}

#qq{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 18px;
}

span{
  font-size: 19px;
  padding: 2px;
  padding-left:8px;
  padding-right:8px;
  border-radius: 50%;
  background-color: orange;
  color: white;
}

.parent{
  position:absolute;
  top:150px;
  border-radius: 30px;
  background-color: white;
}

#msg{
  margin-left: 18px;
  font-weight: 500px;
}

#msg bold{
  margin-right: 6px;
  
}